@header_height_s: 100px;

.header_s{
	height:@header_height_s; 
	background-color:#000000; 
	color:#ffffff; 
	width:100%;

	.title{
		padding: 40px;
		font-size:50px;
	}
}

.user_s{
	margin: 25px;
	.icon{
		background-color:#000000; 
		width:50px; 
		height:50px;
	}
	.name{
		margin:10px;
	}
}

.kettei_s{
	width:100px; 
	height: 100px; 
	margin: 30px;
}

.form_s{
	margin: 10px 20px;
}



